* {
    font-family: Constantia,serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Secciones Generales */
body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
}

section {
    width: 100%;
    max-width: 900px;
    background-color: #ffffff;
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

h1 {
    font-size: larger;
    color: #000000;
    text-align: center;
}

small {
    display:flex;
    margin-top:12px;
    color:var(--muted);
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form input[type="time"],
form input[type="email"],
form input[type="password"],
form select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s;
}

#ch-txt {
    margin-left: 20px;
}


form input:focus,
form select:focus {
    border-color: #007bff;
}

/* Checkbox */
form input[type="checkbox"] {
    margin-right: 10px;
}

/* Botones */
button {
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.4s;
    display: inline-block;
    margin: 10px 10px 10px 0;
}

button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

button:hover {
    background-color: #218838;
    transform: translateY(-3px);
}
